.projet-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  position: fixed;
  background-color: #1e2530; /* Light Gray */
  color: #009444; /* Olive Green */
  padding: 20px;
  display: flex;
  height: 99.98vh;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s; /* Added transition for box-shadow */
}

.sidebar-item {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 12px;
  color: #009444;
  transition: background-color 0.3s, transform 0.2s ease-in-out; /* Added transform animation */
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.page-title {
  text-align: center;
  margin: 20px 0;
}

.page-title h1 {
  color: #000000; /* Black title color */
}

.sidebar-item svg {
  margin-right: 15px;
  font-size: 20px;
}

.sidebar-item:hover {
  background-color: #e0f2e9;
  color: #007a36;
  transform: scale(1.05); /* Slight scale-up on hover for animation */
}

.sidebar-item.active {
  background-color: #009444;
  color: white;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 80%;
  height: auto;
}

@keyframes pulse {
  to {
    transform: scale(1.05); /* Adjusted pulsating scale for logo */
  }
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 240px; /* Adjust for sidebar width */
}

@media (max-width: 768px) {
  .projet-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow for mobile view */
  }

  .content {
    margin-left: 0;
  }
}

/* competition section  */

.competition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-right: 30%;
}

.competition-card {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust as needed */
  margin: 10px;
  text-align: left;
  transition: transform 0.2s ease-in-out; /* Added transform animation */
}

.competition-card:hover {
  transform: scale(1.05); /* Slight scale-up on hover for animation */
}

.card-title {
  color: #000000; /* Black title color */
  margin-bottom: 10px;
}

.competition-card p {
  margin-bottom: 5px;
}

.action {
  margin-top: 15px;
}

.apply-button {
  background-color: #009444; /* Olive Green */
  color: #ffffff; /* White text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  justify-content: center;
}

.apply-button:hover {
  background-color: #007a36; /* Darker Olive Green on hover */
}

.unavailable {
  color: #ff0000; /* Red text color for unavailable */
}

/* Pagination Styles */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: 6%;
  margin-top: 370px;
}

.page-item {
  margin: 0 5px;
}

.page-item .page-link {
  padding: 10px 15px;
  border: none;
  background-color: #f4f4f4;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-item .page-link:hover {
  background-color: #ddd;
}

.page-item.active .page-link {
  background-color: #009444;
  color: #fff;
}
