.project-soumi-wrapper {
  padding: 20px;
}

.title-soumi{
  color: black;
  margin-left: 23rem;
}

.project-soumi-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 60px;
  margin-left: 16rem;
}

.project-soumi-table th,
.project-soumi-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.project-soumi-table th {
  background-color: #00a6ff;
}

.project-soumi-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.project-soumi-table tr:hover {
  background-color: #f1f1f1;
}
