/* Auth.css */

.signup-page {
  display: flex;
  padding-left: 5rem; /* Adjust the left padding to create space from the left edge */
  background-color: #e4d2d2; /* Set background color */
}
.auth__form-container_fields-content{
  margin-top: 7rem;
}

.auth__form-container {
  width: 400px;
}

@media (max-width: 768px) {
  .auth__form-container {
    width: 100%;
  }

  .auth__form-container_title {
    margin-left: 0;
  }

  .auth__form-container_fields-content_input input,
  .auth__form-container_fields-content_input select {
    width: 100%;
  }
}

.auth__form-container_title {
  font-family: "Arial", sans-serif; /* Change the font */
  font-size: 2rem;
  color: #065a3a; /* Set title color to green */
  font-weight: bold;
  margin: 1.5rem 0;
  margin-left: 40rem; /* Center the title */
}

.auth__form-container_fields-content_input label {
  display: block;
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.auth__form-container_fields-content_input input,
.auth__form-container_fields-content_input select {
  width: 190%;
  padding: 1rem;
  border: none;
  border-bottom: 1.2px solid #868686;
  font-size: 15px;
  background-color: #e4d2d2;
  color: #929292;
  outline: none;
}

.auth__form-container_fields-content_input input:focus {
  border-color: #065a3a;
  background-color: #e4d2d2;
}

.auth__form-container_fields-content_button {
  margin-top: 20px;
}
.auth__form-container_image {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 50%;
}

.auth__form-container_fields-content_button button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #065a3a;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}

.auth__form-container_fields-content_button button:hover {
  background: #044526;
}

.account-link {
  margin-top: 20px;
  text-align: center;
}

.account-link p {
  margin-top: 1.5rem;
  font-size: 15px;
  color: #444;
  text-align: center;
}

.account-link a {
  color: #065a3a;
  text-decoration: none;
  font-weight: bold;
}
